CREATE TABLE 경력
(
    경력 ID NOT NULL,
    직원 ID NOT NULL,
    회사명,
    입사일,
    퇴사일
);

CREATE UNIQUE INDEX 경력_PK ON 경력
( 경력 ID );

ALTER TABLE 경력
 ADD CONSTRAINT 경력_PK PRIMARY KEY ( 경력 ID )
 USING INDEX 경력_PK;


CREATE TABLE 발주처
(
    발주처 ID NOT NULL,
    발주처명
);

CREATE UNIQUE INDEX 발주처_PK ON 발주처
( 발주처 ID );

ALTER TABLE 발주처
 ADD CONSTRAINT 발주처_PK PRIMARY KEY ( 발주처 ID )
 USING INDEX 발주처_PK;


CREATE TABLE 산출물
(
    산출물 ID NOT NULL,
    프로젝트 ID NOT NULL,
    산출물 종류,
    산출물명
);

CREATE UNIQUE INDEX 산출물_PK ON 산출물
( 산출물 ID );

ALTER TABLE 산출물
 ADD CONSTRAINT 산출물_PK PRIMARY KEY ( 산출물 ID )
 USING INDEX 산출물_PK;


CREATE TABLE 스터디
(
    스터디 ID NOT NULL,
    스터디명,
    스터디 종류
);

CREATE UNIQUE INDEX 스터디_PK ON 스터디
( 스터디 ID );

ALTER TABLE 스터디
 ADD CONSTRAINT 스터디_PK PRIMARY KEY ( 스터디 ID )
 USING INDEX 스터디_PK;


CREATE TABLE 스터디 기록
(
    스터디 기록 ID NOT NULL,
    스터디 일자,
    활동 내용,
    스터디 ID NOT NULL
);

CREATE UNIQUE INDEX 스터디 기록_PK ON 스터디 기록
( 스터디 기록 ID );

ALTER TABLE 스터디 기록
 ADD CONSTRAINT 스터디 기록_PK PRIMARY KEY ( 스터디 기록 ID )
 USING INDEX 스터디 기록_PK;


CREATE TABLE 인사
(
    인사 ID NOT NULL,
    직원 ID NOT NULL,
    입사 일자,
    퇴사 일자,
    승진 일자
);

CREATE UNIQUE INDEX 인사_PK ON 인사
( 인사 ID );

ALTER TABLE 인사
 ADD CONSTRAINT 인사_PK PRIMARY KEY ( 인사 ID )
 USING INDEX 인사_PK;


CREATE TABLE 직원
(
    직원 ID NOT NULL,
    직원명,
    직급,
    주민등록번호,
    최종학력,
    부서,
    경험기술,
    권한단계
);

CREATE UNIQUE INDEX 직원_PK ON 직원
( 직원 ID );

ALTER TABLE 직원
 ADD CONSTRAINT 직원_PK PRIMARY KEY ( 직원 ID )
 USING INDEX 직원_PK;


CREATE TABLE 참여 스터디
(
    참여 ID NOT NULL,
    스터디 ID NOT NULL,
    직원 ID NOT NULL
);

CREATE UNIQUE INDEX 참여 스터디_PK ON 참여 스터디
( 참여 ID );

ALTER TABLE 참여 스터디
 ADD CONSTRAINT 참여 스터디_PK PRIMARY KEY ( 참여 ID )
 USING INDEX 참여 스터디_PK;


CREATE TABLE 투입 프로젝트
(
    투입 ID NOT NULL,
    프로젝트 ID NOT NULL,
    직원 ID NOT NULL,
    직무,
    투입 일자,
    투입 종료일자
);

CREATE UNIQUE INDEX 투입 프로젝트_PK ON 투입 프로젝트
( 투입 ID );

ALTER TABLE 투입 프로젝트
 ADD CONSTRAINT 투입 프로젝트_PK PRIMARY KEY ( 투입 ID )
 USING INDEX 투입 프로젝트_PK;


CREATE TABLE 평가
(
    평가 ID NOT NULL,
    평가구분,
    투입 ID NOT NULL,
    고객 ID,
    PM ID,
    동료 ID
);

CREATE UNIQUE INDEX 평가_PK ON 평가
( 평가 ID );

ALTER TABLE 평가
 ADD CONSTRAINT 평가_PK PRIMARY KEY ( 평가 ID )
 USING INDEX 평가_PK;


CREATE TABLE 평가항목
(
    평가항목 ID NOT NULL,
    평가 ID NOT NULL,
    평점,
    평가내용
);

CREATE UNIQUE INDEX 평가항목_PK ON 평가항목
( 평가항목 ID );

ALTER TABLE 평가항목
 ADD CONSTRAINT 평가항목_PK PRIMARY KEY ( 평가항목 ID )
 USING INDEX 평가항목_PK;


CREATE TABLE 프로젝트
(
    프로젝트 ID NOT NULL,
    발주처 ID NOT NULL,
    프로젝트명,
    착수일자,
    종료일자
);

CREATE UNIQUE INDEX 프로젝트_PK ON 프로젝트
( 프로젝트 ID );

ALTER TABLE 프로젝트
 ADD CONSTRAINT 프로젝트_PK PRIMARY KEY ( 프로젝트 ID )
 USING INDEX 프로젝트_PK;


CREATE TABLE 휴가기록
(
    휴가 ID NOT NULL,
    휴가 종류,
    휴가 시작일,
    휴가 종료일,
    직원 ID NOT NULL
);

CREATE UNIQUE INDEX 휴가기록_PK ON 휴가기록
( 휴가 ID );

ALTER TABLE 휴가기록
 ADD CONSTRAINT 휴가기록_PK PRIMARY KEY ( 휴가 ID )
 USING INDEX 휴가기록_PK;